.about-content{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#ffffff;
  height: 80vh;
  min-height: 600px;
  max-height: 700px;
  width: 100%;
  padding: 40px 0px;
}
.flex-box{
  display: flex;
}
.about-img-side{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 80px 0px 0px;
}
.about-picture{
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.text-side{
  width: 50%;
  height: 100%;
}
.bigflagimg{
  width: 30px;
  height: 30px;
}
@media (max-width: 992px) {
  .about-content{
    height: auto;
    max-height: none;
  }
  .flex-box{
    flex-direction: column;
  }

  .about-img-side{
    width: 100%;
    padding: 0px 20% 30px 20%;
  }
  .text-side{
    text-align: center;
    margin: 0px auto;
    width: 70%;
  }
}
@media (max-width: 767px) {
  .about-img-side{
    padding: 0px 5% 30px 5%;
  }
  .text-side{
    width: 90%;
  }
}