.contact {
  padding: 50px 0px;
}
.location-mail {
  margin: 40px 0px 10px 0px;
  display: flex;
  gap: 30px;
}
.contact-icon {
  width: 25px;
  height: 25px;
  color: #147efb;
}
.circle-text {
  display: flex;
}
.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.contact-h5-text {
  padding: 0;
  margin: 0;
  font-weight: 600;
}
.contact-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.contact-link {
  text-decoration: none;
  color: #767676;
}

@media (max-width: 767px) {
  .contact {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .location-mail {
    margin: 0px auto;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .circle-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .contact-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
